/* src/app.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1a1a1a; /* Marvel black */
  color: #eee;
  background-image: url('/marvelBack.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}
